{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "singleQuote": true
}
